p{
    text-align: center;
    color: #575757;
    padding: 1.2rem 0;
}
.footer{
    h4{
        margin: 0 0 1rem 2.5rem;
        text-decoration: underline;

    }
    background: #1f1f1f;
    padding: 3rem 0;
    display: flex;
    
    .footer-col{
        flex-basis: 33%;
        ul{
            list-style: none;

            a{
                text-decoration: none;
                color: rgb(165, 165, 165);
                line-height: 2;
            }

        }
    }
}